.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1.5rem;
}

.main {
  padding: 1.5rem;
}

td {
  width: 50%;
}

.td-info {
  width: 5%;
}

.measure-container {
  margin-top: 2rem;
}

.measure-container h5 {
  margin-bottom: 0.5rem;
}

.measure-info-icon {
  /*border: 1px solid black;
  border-radius: 50%;
  padding: 0rem 0.4rem;*/
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
}

footer .separator {
  margin: 0 0.3rem;
}

.prompt {
  font-size: 1.6rem;
}

code#input-prompt {
  margin-left: 0.5rem;
}

#sctIntro {
  margin-top: .5rem; 
  margin-bottom: 1.75rem;
  font-style: italic;
}